<module xmlns="urn:jboss:module:1.1" name="com.redhat.gpe.refarch.bpm_servicetasks">

    <resources>
        <resource-root path="wih-1.0.jar"/>
    </resources>

    <dependencies>
        <module name="javax.api" />
        <module name="org.spring" />
        <module name="org.slf4j" />
        <module name="org.jbpm" />
        <module name="org.kie" />
    </dependencies>
</module>
